/* 
 * Global stylesheet for chat webapp project
 * Version: 1.0
 * Last Revision: 2020-05-31 by JacobDixon0
 * Authors: dev@jacobdixon.us (Jacob Dixon)
 */

*{
    outline: none;
}

body{
    background-color: lightblue;
    color: #111;
    font-family: Arial, Helvetica, sans-serif;
}

button, input, a{
    transition: color 0.2s;
}

button, input{
    display: block;
    padding: 8px;
    border: 0;
}

button:hover, input:hover{
    filter: brightness(0.9);
}

button, input[type="submit"], input[type="button"]{
    cursor: pointer;
    background-color: #4caf50;
}

input{
    background-color: #ddd;
}

input:focus{
    filter: brightness(0.75);
}

input:disabled{
    color: #111;            /* see body.color */
    filter: brightness(0.5);
    filter: saturate(0.5);
    cursor: not-allowed;
}

input:not([type="submit"]):valid{
    outline: green solid 2px;
}

a{
    text-decoration: none;
    color: #111;          /* see body.color */
}

a:hover{
    filter: brightness(2);
}

.focused-panel{
    background-color: rgb(241, 241, 241);
    margin: 0;
    padding: 80px;
    border-radius: 8px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.focused-panel *{
    margin: 8px;
}

.focused-panel h1{
    text-align: center;
    margin-bottom: 16px;
}

/* ---------------- LOGIN AND REGISTRATION ---------------- */

.userauth-panel input[type="button"], input[type="submit"]{
    display: inline;
    width: calc(50% - 16px);
}

.userauth-panel #rt-btn{
    float: left;
}

.userauth-panel #submit-btn{
    float: right;
}