* {
    outline: none;
}

body {
    margin: 32px;
    padding: 0;
    background-color: #0b000e;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
}

button,
input,
a,
.btn {
    transition: 0.1s;
}

button,
input,
.btn {
    display: block;
    padding: 8px;
    border: 0;
    color: #fff;
}

button,
input[type="submit"],
input[type="button"],
.btn {
    background-color: #431a79;
    cursor: pointer;
}

button:hover,
input[type="submit"]:hover,
input[type="button"]:hover,
.btn:hover {
    background-color: #582996;
}

input {
    background-color: #1f0b3a;
}

input:focus,
input:hover {
    background-color: #2a1347;
}

input[type="button"],
input[type="submit"] {
    height: 34px;
}

input:disabled {
    cursor: not-allowed;
}

a {
    color: #fff;
    text-decoration: none;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    margin: 0;
    transform: translate(-50%, -50%);
}

.btn {
    display: inline-block;
    text-align: center;
}

.panel {
    padding: 80px;
    border-radius: 8px;
    background-color: rgb(20, 2, 26);
}

.panel * {
    margin: 8px;
}

.panel h1 {
    margin-bottom: 16px;
    text-align: center;
}

.panel input[type="button"],
.panel input[type="submit"] {
    display: inline;
    width: calc(50% - 16px);
}

.panel #cancel {
    float: left;
}

.panel #submit {
    float: right;
}

.panel input:not([type="submit"]):valid {
    outline: green solid 2px;
}

.panel input.invalid {
    outline: red solid 2px !important;
}

.panel .invalid-label {
    color: red;
    font-size: 12px;
}

.message {
    display: block;
    margin: 10px 0;
}

.message::before {
    content: url("/res/img/default_profile_x16.jpg");
    margin-right: 8px;
    vertical-align: middle;
}

.message.server {
    filter: brightness(0.5);
}

.message.admin b {
    color: red;
}

#message-history {
    min-height: calc(100vh - 120px);
    max-height: calc(100vh - 120px);
    overflow: auto;
}

#message-send {
    margin-top: 16px;
}

#message-send #message-field {
    display: inline !important;
    width: 280px;
    vertical-align: top;
    font-size: 16px;
}

#message-send #submit {
    display: inline;
    vertical-align: top;
}

#welcome-panel .btn {
    display: inline-block;
    width: 100px;
}

::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

::-webkit-scrollbar-track {
    background-color: #110520;
}

::-webkit-scrollbar-thumb {
    background-color: #1f0b3a;
}

::-webkit-scrollbar-button {
    display: none;
}

::-webkit-scrollbar-corner {
    display: none;
}

::-webkit-resizer {
    display: none;
}

@media (max-width: 870px) {
    #welcome-panel .btn {
        display: block;
        width: 200px;
        margin: auto;
        margin-top: 16px;
    }

    #message-send #message-field {
        width: auto;
    }
}
