<!DOCTYPE html>
<html>
<head>
  <title>Chat</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" href="/res/img/favicon.ico" type="image/vnd">
  <link rel="stylesheet" href="/res/css/global.css" type="text/css">
  
</head>
<body>
    <iframe src="/getmsg"></iframe>
    <h1>Send message</h1>
    <form action="/chat" method="post" autocomplete="off">
      
      <label for="message">Message:</label>
      <input id="message" name="message" type="text" placeholder="message" >
      <input id="submit" value="send" type="submit">
    </form>
  
</body>
</html>