<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="shortcut icon" href="/projects/apps/xe3/res/img/favicon.ico" type="image/x-icon" />
        <link rel="stylesheet" href="/projects/apps/xe3/res/css/global.css" type="text/css" />
        <title>Working Title - {{ error_code }}</title>
    </head>
    <body>
        <h1>Something went wrong...</h1>
        <h2>{{ error_code }}</h2>
        <p>{{ error_desc }}</p>
    </body>
</html>
