<!DOCTYPE html>
<html>
<head>
  <title>Working Title - Welcome</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" href="/res/img/favicon.ico" type="image/vnd">
  <link rel="stylesheet" href="/res/css/global.css" type="text/css">
  <script src="/res/js/userauth.js" type="text/javascript"></script>
</head>
<body>
  <div class="centered panel" style="text-align: center;">
    <h1>Welcome</h1>
    <p>Please login or register an account</p>
    <a class="a-psbtn" style="width: 140px;" href="/p/login.html">Login</a>
    <br>
    <a class="a-psbtn" style="width: 140px;" href="/p/register.html">Sign Up</a>
  </div>
</body>
</html>