<!DOCTYPE html>
<html>
<head>
  <title>Working Title - Register</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" href="/res/img/favicon.ico" type="image/vnd">
  <link rel="stylesheet" href="/res/css/global.css" type="text/css">
  <script src="/res/js/userauth.js" type="text/javascript"></script>
</head>
<body>
  <main class="centered panel">
    <h1>Sign Up</h1>
    <form action="/register" method="post" onsubmit="return validate()" autocomplete="off">
      <label for="username">Username:</label>
      <input id="username" name="username" type="text" placeholder="Username" minlength="4" required>
      <p id="invalid-username" class="invalid-label" hidden>Invalid Username</p>
      <label for="password">Password:</label>
      <input id="password" name="password" type="password" placeholder="Password" minlength="4" required>
      <p id="invalid-password" class="invalid-label" hidden>Invalid Password</p>
      <input id="rt-btn" value="Cancel" type="button">
      <input id="submit" value="Register" type="submit">
    </form>
  </main>
</body>
</html>
