<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="shortcut icon" href="/projects/apps/xe3/res/img/favicon.ico" type="image/x-icon" />
        <link rel="stylesheet" href="/projects/apps/xe3/res/css/global.css" type="text/css" />
        <title>Working Title - Home</title>
    </head>
    <body onload="init()">
        <main class="centered panel">
            <h1>Your Rooms</h1>
            <div id="rooms-list-container"></div>
            <a class="btn wide-block" href="javascript:void(0)" onclick="createRoom()">Create Room</a>
            <a class="btn wide-block" href="/projects/apps/xe3">Back</a>
        </main>
        <script src="/projects/apps/xe3/res/js/home.js" type="text/javascript"></script>
    </body>
</html>
