<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="shortcut icon" href="/res/img/favicon.ico" type="image/x-icon" />
        <link rel="stylesheet" href="/res/css/global.css" type="text/css" />
        <title>Working Title - Welcome</title>
    </head>
    <body>
        <main id="welcome-panel" class="panel centered">
            <h1>Welcome</h1>
            <p>Please login or register an account.</p>
            <a href="/login" class="btn">Login</a>
            <a href="/register" class="btn">Register</a>
        </main>
    </body>
</html>
