<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="shortcut icon" href="/projects/apps/xe3/res/img/favicon.ico" type="image/x-icon" />
        <link rel="stylesheet" href="/projects/apps/xe3/res/css/global.css" type="text/css" />
        <title>Working Title - Welcome</title>
    </head>
    <body>
        <main id="welcome-panel" class="panel centered">
            <h1>Welcome</h1>
            <p>Please login or register an account.</p>
            <a href="/projects/apps/xe3/login" class="btn">Login</a>
            <a href="/projects/apps/xe3/register" class="btn">Register</a>
        </main>
    </body>
</html>
